@import "libs/reset.scss";
@import "libs/var.scss";
@import "libs/responsive.scss";

////////    Global  \\\\\\\\

.flex {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

* {
    font-size: 1.1rem;
}

input {
    transition: .2s;
}


////////    Form  \\\\\\\\

form, .type-selector, #rgb-fields, #hexa-fields {
    justify-content: center;
}

form {

    flex-flow: column;
    align-items: center!important;

    &>fieldset {
        .color-number-selector div {
            margin: auto var(--slightly-spacement);
        }
    }
}

legend {
    margin: var(--block-spacing);
}

.type-selector {

    flex-flow: column;

    fieldset {
        margin-bottom: var(--block-spacing);
        
        div {

            input {
                align-self: center;
            }
        
            label {
                margin: auto var(--slightly-spacement);
            }
        }

    }

    #rgb-fields {
        flex-flow: column;

        & div {
            margin: var(--slightly-spacement) auto;

            label:first-child {
                color: var(--red);
            }
        }

    }

    #hexa-fields {
        margin: var(--block-spacing);
        flex-flow: column;
        align-items: center;
        
        label {
            margin: auto var(--slightly-spacement);
        }
    }

}

#colors-inputs {

    & > div {
        justify-content: center;
    }

}


////////    color blocks  \\\\\\\\

.half-cut {
    width: 50%;
}